body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

nav {
    background-color: red;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}

.MainContainer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainDiv {
    background-color: white;
    height: 75vh;
    width: 75vw;
}

nav a,nav Link {
    text-decoration: none;
    color: white;
    background-color: red;
    transition: background-color .4s;
    padding: 15px;
}

nav a:hover,nav Link:hover {
    cursor: pointer;
    background-color: black;
}

h1 {text-align: center;}
