@import url('https://fonts.googleapis.com/css?family=Girassol|Kulim+Park&display=swap');

body {
  margin: 0;
  font-family: 'Kulim Park', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Girassol', cursive;}

button {border-radius: 10px; background-color: black; color: white; transition: background-color .4s, color .4s;
border: none; padding: 10px;}

button:hover {background-color: lightgray; color: black;}

input {padding: 5px; border: none; border-radius: 4px; background-color: black; color: white; margin: 5px;}
